# will be created if needed
/locale/bashlib.pot
**/*~
# test parts automatically created
/tests/results
/tests/bats-core
/tests/bats-assert
/tests/bats-support
# old directories
/test-results
/bats-core
/oldlib
# made by docker tests
/yay
# not public available / from divibib scripts
/divibib
/scripts
