#!/usr/bin/env bash

# Secrets - keept out of repository

######################################################################################
### Mattermost
######################################################################################

# Mattermost API Token used in @mattermost @mattermost_repost @mattermost_reaction
#export MATTERMOST_TOKEN=???????????????????

######################################################################################
### Monitoring
######################################################################################

# Grafana API Token used in @alerts
#export GRAFANA_TOKEN=???????????????????

######################################################################################
### Atlassian
######################################################################################

# Atlassian user for API access in confluence and jira
#export ATLASSIAN_USER="alexander.schilling@mycompany.net"
# Atlassian password for API access in confluence and jira
#export ATLASSIAN_TOKEN="???????????????????"

######################################################################################
### Remote
######################################################################################

# Hash: Mongo Admin User Logins `<host> = <username>:<password>` but use `_` instead of `.`` in hostname
# shellcheck disable=SC2034
#declare -Ag MONGO_ADMIN_USERPASS=(
#        ["<name>"]="<user>:<password>"
#)

# PowerDNS API Token used together with $POWERDNS_API in dns function
#export POWERDNS_TOKEN=???????????????????

#export ABUSEIPDB_TOKEN=???????????????????
#export NETLAS_TOKEN=???????????????????
